In [40]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [2]:
#Exploring dataset to fill in NaN's of population column in our main dataset (Life_expectancy_data)
# Load the dataset into the notebook (from United Nations)

UN_population_path = "Resources/UNdata_popdata.csv"

In [3]:
# create the dataframe without the numbered rows (can use index = 0 to make country column index if needed)

UN_population_df = pd.read_csv(UN_population_path)
print(UN_population_df.shape)
UN_population_df.head()

(69548, 9)

,Country or Area,Year,Area,Sex,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Afghanistan,2022,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2022,32762836.0,1
1,Afghanistan,2022,Total,Male,Estimate - de facto,"Final figure, incomplete/questionable reliability",2022,16679394.0,1
2,Afghanistan,2022,Total,Female,Estimate - de facto,"Final figure, incomplete/questionable reliability",2022,16083442.0,1
3,Afghanistan,2022,Urban,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2022,8574372.0,1
4,Afghanistan,2022,Urban,Male,Estimate - de facto,"Final figure, incomplete/questionable reliability",2022,4332170.0,1

In [5]:
#Identify NaN's by column
for column in UN_population_df.columns:
    print (f"Column {column} has {UN_population_df[column].isnull().sum()} null values")

Column Country or Area has 0 null values
Column Year has 0 null values
Column Area has 0 null values
Column Sex has 0 null values
Column Record Type has 0 null values
Column Reliability has 0 null values
Column Source Year has 0 null values
Column Value has 0 null values
Column Value Footnotes has 39504 null values

In [6]:
#Identify counts by column where value = 0
for column in UN_population_df.columns:
    count = (UN_population_df[column] == 0).sum()
    print(f"Count of zeros in Column {column} : ", count)

Count of zeros in Column Country or Area :  0
Count of zeros in Column Year :  0
Count of zeros in Column Area :  0
Count of zeros in Column Sex :  0
Count of zeros in Column Record Type :  0
Count of zeros in Column Reliability :  0
Count of zeros in Column Source Year :  0
Count of zeros in Column Value :  0
Count of zeros in Column Value Footnotes :  0

In [10]:
#Dataset needs to be slimmed down for a better merging to 1st dataset
#Drop years that are before 2000 and after 2015
UN_population_df.drop(UN_population_df[UN_population_df.Year < 2000].index, inplace = True)
UN_population_df.drop(UN_population_df[UN_population_df.Year > 2015].index, inplace = True)

#Check shape
print(UN_population_df.shape)
UN_population_df.head()

(22756, 9)

,Country or Area,Year,Area,Sex,Record Type,Reliability,Source Year,Value,Value Footnotes
63,Afghanistan,2015,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,27101365.0,1
64,Afghanistan,2015,Total,Male,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,13865015.0,1
65,Afghanistan,2015,Total,Female,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,13236350.0,1
66,Afghanistan,2015,Urban,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,6698033.0,1
67,Afghanistan,2015,Urban,Male,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,3449379.0,1

In [14]:
#Drop more unnecessary rows for our purpose 
# where sex equals male or female and area equals urban or rural
UN_population_df.drop(UN_population_df[UN_population_df.Area == "Urban"].index, inplace = True)
UN_population_df.drop(UN_population_df[UN_population_df.Area == "Rural"].index, inplace = True)
UN_population_df.drop(UN_population_df[UN_population_df.Sex == "Male"].index, inplace = True)
UN_population_df.drop(UN_population_df[UN_population_df.Sex == "Female"].index, inplace = True)

#Check shape and head
print(UN_population_df.shape)
UN_population_df.head(50)

(4556, 9)

,Country or Area,Year,Area,Sex,Record Type,Reliability,Source Year,Value,Value Footnotes
63,Afghanistan,2015,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,27101365.0,1
72,Afghanistan,2014,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2015,26556754.0,1
81,Afghanistan,2013,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2015,26023100.0,1
90,Afghanistan,2012,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,25500100.0,1
99,Afghanistan,2011,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,24987700.0,1
108,Afghanistan,2010,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2011,24485600.0,1
117,Afghanistan,2009,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2011,23993500.0,1
126,Afghanistan,2008,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,23511400.0,1
135,Afghanistan,2007,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,23038900.0,1
144,Afghanistan,2006,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2007,22575900.0,1
153,Afghanistan,2005,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,22097900.0,1
162,Afghanistan,2004,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,21677700.0,1
171,Afghanistan,2003,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,20691400.0,1
180,Afghanistan,2002,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,20297800.0,1
189,Afghanistan,2001,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,19910900.0,1
198,Afghanistan,2000,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,19532684.0,1
459,Åland Islands,2015,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2016,28950.0,4
468,Åland Islands,2014,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2015,28792.0,4
477,Åland Islands,2013,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2014,28585.0,4
486,Åland Islands,2012,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2013,28428.5,4
495,Åland Islands,2011,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2012,28181.0,4
504,Åland Islands,2010,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2011,27870.5,4
513,Åland Islands,2009,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2009,27595.0,4
522,Åland Islands,2008,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2009,27304.5,4
531,Åland Islands,2007,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,27038.0,4
540,Åland Islands,2006,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26844.5,4
549,Åland Islands,2005,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26648.0,4
558,Åland Islands,2004,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26438.5,4
567,Åland Islands,2003,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26302.0,4
576,Åland Islands,2002,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26132.5,4
585,Åland Islands,2001,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,25892.0,4
594,Åland Islands,2000,Total,Both Sexes,Census - de jure - complete tabulation,"Final figure, complete",2009,25776.0,5
595,Åland Islands,2000,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,25741.0,4
883,Albania,2015,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2016,2892303.0,NaN
884,Albania,2015,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2017,2880703.0,NaN
887,Albania,2014,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2015,2895947.0,NaN
888,Albania,2014,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2017,2889104.0,NaN
893,Albania,2013,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2017,2895092.0,NaN
896,Albania,2012,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2017,2900401.0,NaN
899,Albania,2011,Total,Both Sexes,Census - de jure - complete tabulation,"Final figure, complete",2013,2800138.0,NaN
900,Albania,2011,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2014,2904780.0,NaN
917,Albania,2010,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2913021.0,NaN
926,Albania,2009,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2927519.0,NaN
935,Albania,2008,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2947314.0,NaN
944,Albania,2007,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2970017.0,NaN
953,Albania,2006,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2992547.0,NaN
962,Albania,2005,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3011487.0,NaN
971,Albania,2004,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3026939.0,NaN
980,Albania,2003,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3039616.0,NaN
989,Albania,2002,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3051010.0,NaN

### Some countries have two rows for the same year such as Albania, 2015.  The numbers are different because of the source year.  We will assume the more recent source year is more accurate and drop the 2nd instance.

In [17]:
#Rename column so it's the same as the Life_Expectancy_data
UN_population_df.rename(columns = {"Country or Area": "Country"}, inplace = True)

In [18]:
#Drop rows where the Year is not unique for the country and assign it to a new DF
filtered_UN_df = UN_population_df.drop_duplicates(["Country", "Year"])
filtered_UN_df.head(50)

,Country,Year,Area,Sex,Record Type,Reliability,Source Year,Value,Value Footnotes
63,Afghanistan,2015,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2017,27101365.0,1
72,Afghanistan,2014,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2015,26556754.0,1
81,Afghanistan,2013,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2015,26023100.0,1
90,Afghanistan,2012,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,25500100.0,1
99,Afghanistan,2011,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,24987700.0,1
108,Afghanistan,2010,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2011,24485600.0,1
117,Afghanistan,2009,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2011,23993500.0,1
126,Afghanistan,2008,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,23511400.0,1
135,Afghanistan,2007,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,23038900.0,1
144,Afghanistan,2006,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2007,22575900.0,1
153,Afghanistan,2005,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,22097900.0,1
162,Afghanistan,2004,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,21677700.0,1
171,Afghanistan,2003,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,20691400.0,1
180,Afghanistan,2002,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,20297800.0,1
189,Afghanistan,2001,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,19910900.0,1
198,Afghanistan,2000,Total,Both Sexes,Estimate - de facto,"Final figure, incomplete/questionable reliability",2013,19532684.0,1
459,Åland Islands,2015,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2016,28950.0,4
468,Åland Islands,2014,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2015,28792.0,4
477,Åland Islands,2013,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2014,28585.0,4
486,Åland Islands,2012,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2013,28428.5,4
495,Åland Islands,2011,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2012,28181.0,4
504,Åland Islands,2010,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2011,27870.5,4
513,Åland Islands,2009,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2009,27595.0,4
522,Åland Islands,2008,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2009,27304.5,4
531,Åland Islands,2007,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,27038.0,4
540,Åland Islands,2006,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26844.5,4
549,Åland Islands,2005,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26648.0,4
558,Åland Islands,2004,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26438.5,4
567,Åland Islands,2003,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26302.0,4
576,Åland Islands,2002,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,26132.5,4
585,Åland Islands,2001,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2008,25892.0,4
594,Åland Islands,2000,Total,Both Sexes,Census - de jure - complete tabulation,"Final figure, complete",2009,25776.0,5
883,Albania,2015,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2016,2892303.0,NaN
887,Albania,2014,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2015,2895947.0,NaN
893,Albania,2013,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2017,2895092.0,NaN
896,Albania,2012,Total,Both Sexes,Estimate - de jure,"Final figure, complete",2017,2900401.0,NaN
899,Albania,2011,Total,Both Sexes,Census - de jure - complete tabulation,"Final figure, complete",2013,2800138.0,NaN
917,Albania,2010,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2913021.0,NaN
926,Albania,2009,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2927519.0,NaN
935,Albania,2008,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2947314.0,NaN
944,Albania,2007,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2970017.0,NaN
953,Albania,2006,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,2992547.0,NaN
962,Albania,2005,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3011487.0,NaN
971,Albania,2004,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3026939.0,NaN
980,Albania,2003,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3039616.0,NaN
989,Albania,2002,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2014,3051010.0,NaN
998,Albania,2001,Total,Both Sexes,Census - de facto - complete tabulation,"Final figure, complete",2009,3069275.0,NaN
1016,Albania,2000,Total,Both Sexes,Estimate - de facto,"Final figure, complete",2005,3060907.5,NaN
1256,Algeria,2015,Total,Both Sexes,Estimate - de jure,"Final figure, incomplete/questionable reliability",2016,39963249.0,NaN
1259,Algeria,2014,Total,Both Sexes,Estimate - de jure,"Final figure, incomplete/questionable reliability",2015,39114275.0,NaN

In [25]:
#Look at number of countries after slimming down to compare to the 193 countries in Life_expectancy_data
print(filtered_UN_df["Country"].nunique())
filtered_UN_df.Country.unique()

239

array(['Afghanistan', 'Åland Islands', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'China, Hong Kong SAR', 'China, Macao SAR',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (Federated States of)', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Norfolk Island', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Republic of Moldova',
       'Republic of South Sudan', 'Reunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Barthélemy',
       'Saint Helena ex. dep.', 'Saint Helena: Ascension',
       'Saint Helena: Tristan da Cunha', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Saint-Martin (French part)',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname',
       'Svalbard and Jan Mayen Islands', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Türkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna Islands', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [26]:
#look at columns
filtered_UN_df.columns

Index(['Country', 'Year', 'Area', 'Sex', 'Record Type', 'Reliability',
       'Source Year', 'Value', 'Value Footnotes'],
      dtype='object')

In [27]:
#Curious about the reliability column, run a count to see values
filtered_UN_df.Reliability.value_counts()

Final figure, complete                               2098
Final figure, incomplete/questionable reliability    1326
Provisional figure                                     24
Provisional figure with questionable reliability       11
Name: Reliability, dtype: int64

### Questionable reliablity of 1519 values, hmmm...

In [38]:
#Drop unnecessary columns for our purpose
UN_cleaned_df = filtered_UN_df.drop(columns = ["Area", "Sex", "Record Type", "Reliability", "Source Year", "Value Footnotes"], axis = 1)

In [39]:
#Rename column value and inspect dataframe

UN_cleaned_df = UN_cleaned_df.rename(columns={"Value" : "UN_population"})
UN_cleaned_df.head(50)

            Country  Year  UN_population
63      Afghanistan  2015     27101365.0
72      Afghanistan  2014     26556754.0
81      Afghanistan  2013     26023100.0
90      Afghanistan  2012     25500100.0
99      Afghanistan  2011     24987700.0
108     Afghanistan  2010     24485600.0
117     Afghanistan  2009     23993500.0
126     Afghanistan  2008     23511400.0
135     Afghanistan  2007     23038900.0
144     Afghanistan  2006     22575900.0
153     Afghanistan  2005     22097900.0
162     Afghanistan  2004     21677700.0
171     Afghanistan  2003     20691400.0
180     Afghanistan  2002     20297800.0
189     Afghanistan  2001     19910900.0
198     Afghanistan  2000     19532684.0
459   Åland Islands  2015        28950.0
468   Åland Islands  2014        28792.0
477   Åland Islands  2013        28585.0
486   Åland Islands  2012        28428.5
495   Åland Islands  2011        28181.0
504   Åland Islands  2010        27870.5
513   Åland Islands  2009        27595.0
522   Åland Islands  2008        27304.5
531   Åland Islands  2007        27038.0
540   Åland Islands  2006        26844.5
549   Åland Islands  2005        26648.0
558   Åland Islands  2004        26438.5
567   Åland Islands  2003        26302.0
576   Åland Islands  2002        26132.5
585   Åland Islands  2001        25892.0
594   Åland Islands  2000        25776.0
883         Albania  2015      2892303.0
887         Albania  2014      2895947.0
893         Albania  2013      2895092.0
896         Albania  2012      2900401.0
899         Albania  2011      2800138.0
917         Albania  2010      2913021.0
926         Albania  2009      2927519.0
935         Albania  2008      2947314.0
944         Albania  2007      2970017.0
953         Albania  2006      2992547.0
962         Albania  2005      3011487.0
971         Albania  2004      3026939.0
980         Albania  2003      3039616.0
989         Albania  2002      3051010.0
998         Albania  2001      3069275.0
1016        Albania  2000      3060907.5
1256        Algeria  2015     39963249.0
1259        Algeria  2014     39114275.0

In [42]:
UN_cleaned_df.to_csv("Resources/UN_population_cleaned.csv")